<template>
  <v-app>
    <Navbar/>
    <router-view></router-view>
    <FooterComp/>
  </v-app>
</template>

<script>
  import FooterComp from '../components/FooterComp.vue';
  import Navbar from '../components/NavbarComp.vue';
  export default {
    components: {
    Navbar,
    FooterComp
},
    computed: {
    },
    methods: {
    },
    created () {
      console.log(this.$route.name)
    },
  }
</script>
