<template>
  <v-app>
    <v-main >
      <home-live/>
      <home-carousel/>
      <!-- <home-radio/> -->
      <home-podcast/>
      <home-highlights/>
      <home-DJ/>
      <monthly-magazine/>
      <contact-us />

    </v-main>
  </v-app>
</template>


<script>
  import HomeCarousel from '../components/HomeCarousel.vue'
  import HomeDJ from '../components/HomeDJ.vue'
  import HomeHighlights from '../components/HomeHighlights.vue'
  import HomePodcast from '../components/HomePodcast.vue'
  import HomeRadio from '../components/HomeRadio.vue'
  import HomeLive from '../components/HomeLive.vue'
  import MonthlyMagazine from '../components/MonthlyMagazine.vue'
  import ContactUs from '../components/ContactUs.vue'
  export default {
  components: { HomeLive, HomeCarousel, HomeRadio, HomePodcast, HomeHighlights, HomeDJ, MonthlyMagazine, ContactUs },
    data () {
      return {
     
      }
    }
  }
</script>