<template>
  <v-container>
    <v-row>
      <v-col
        class="mt-2 text-center"
        cols="12"
      >
        <h2> 聯絡我們 </h2>
      </v-col>
      <v-col
        cols="3"
        class="d-flex flex-column justify-center">
        <div class="d-flex justify-center align-center">
          <v-icon icon="mdi-radio" class="text-primary"></v-icon>
        </div>
        <div class="d-flex justify-space-between mt-6">
          <v-icon icon="mdi-facebook" class="text-primary"></v-icon>
          <v-icon icon="mdi-instagram" class="text-primary"></v-icon>
          <v-icon icon="mdi-youtube" class="text-primary"></v-icon>
        </div>
      </v-col>
      <v-col
        cols="9">
        <v-list>
          <v-list-item>
            <template v-slot:prepend>
              <v-icon icon="mdi-map-marker-radius" class="text-primary"></v-icon>
            </template>
            <v-list-item-title class="">台北和平東路2段24號10樓</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <template v-slot:prepend>
              <v-icon icon="mdi-email" class="text-primary"></v-icon>
            </template>
            <v-list-item-title>service@goodnews.org.tw</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <template v-slot:prepend>
              <v-icon icon="mdi-phone-in-talk" class="text-primary"></v-icon>
            </template>
            <v-list-item-title>(02)2369-9050</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <template v-slot:prepend>
              <v-icon icon="mdi-phone-in-talk" class="text-primary"></v-icon>
            </template>
            <v-list-item-title>(02)2369-9050</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>