<template>
  <v-container>
    <div class="d-flex justify-end">
      <div>
        <v-img>
          
        </v-img>
      </div>
      <div>
        <v-select
          label="樣式"
          :items="['標準版', '簡易版',]"
          variant="outlined"
          density="compact"
        ></v-select>
      </div>
      <div class="ms-2">
        <v-select
          label="語言"
          :items="lang"
          variant="outlined"
          density="compact"
        ></v-select>
      </div>
    </div>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      links: [
        'Home',
        'About Us',
        'Team',
        'Services',
        'Blog',
        'Contact Us',
      ],
      typeInit:['標準版'],
      type: ['標準版', '簡易版'],
      lang: ['中文', '英文']
    }),
  }
</script>