<template>
  <v-container
    >
    <v-slide-group
      v-model="model"
      class=""
      selected-class=""
      show-arrows
    >
      <v-slide-group-item
        v-for="live in live"
        :key="live"
        v-slot="{ isSelected, toggle, selectedClass }"
      >
        <v-avatar
          color="grey-lighten-1"
          :class="['ma-4', selectedClass,]"
          size="100"
          @click="toggle"
        >
          <v-img :src="live.img" cover></v-img>
          <!-- <div class="d-flex fill-height align-center justify-center">
            <v-scale-transition>
              <v-icon
                v-if="isSelected"
                color="white"
                size="48"
                icon="mdi-close-circle-outline"
              ></v-icon>
            </v-scale-transition>
          </div> -->
        </v-avatar>
      </v-slide-group-item>
    </v-slide-group>

    <v-expand-transition>
      <v-sheet
        class="mt-3"
        v-if="model != null"
        width="100%"
      >
        <div class="d-flex fill-height align-center justify-center">
          <video-player ref="player" :options="playerOptions"></video-player>
        </div>
      </v-sheet>
    </v-expand-transition>
  </v-container>
</template>

<script>
  import { mapState, mapActions, mapWritableState } from 'pinia' 
  import homeStore from '@/stores/homeStore'
  import 'video.js/dist/video-js.css';
  import { VideoPlayer } from '@videojs-player/vue'
  import 'video.js/dist/video-js.css'
  export default {
    components: {
      VideoPlayer
    },
    data: () => ({
      model: null,
      playerOptions: {
        controls: true,
        autoplay: false,
        language: 'en',
        fluid: true,
        sources: [
          {
            src: 'https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm',
            // type: 'audio/mp3',
            type: 'video/mp4'
          },
        ],
      },
    }),
    computed: {
    ...mapState(homeStore, ['live']),

  },
  }
</script>

<style>

</style>